{% extends "Nav.html" %}
{% block content %}
    <h1>CS4250 Assignment 2: Retrieval Models & PageRank</h1>
    <p>This is a simple Retrieval Models and PageRank Project for CS 4250 Web Search and Recommender Systems.</p>

    <h2>Group Members</h2>
    <ul>
        <li>Devin Khun</li>
        <li>Daniel Ho</li>
        <li>Caden Minniefield</li>
        <li>Tony Swank</li>
        <li>Thet Wai</li>
    </ul>

    <h2>Project Description</h2>
    <p>We implemented Boolean retrieval and BM25 ranking using an inverted index over a collection of crawled HTML documents. This interface allows users to test both retrieval methods.</p>
    
    <p>Use the navigation bar above to get started with the retreival model search.</p>
{% endblock %}